/*
 * Custom Css
 * Gameloft Campaign Managers 1.0
 * Lance Andres
 */

.logo {
	width: 180px;
	height: auto;
	margin: 10px;
}
.navbar-default {
	background-color: #ffffff !important;
}
.custom-ul {
	margin: 10px;
}

/* unvisited link */
a:link {
    color: #000 !important;
    text-decoration: none !important;
}

/* visited link */
a:visited {
    color: #000 !important;
    text-decoration: none !important;
}

/* mouse over link */
a:hover {
    color: #10c1f3 !important;
    text-decoration: none !important;
}

/* selected link */
a:active {
    color: #10c1f3 !important;
    text-decoration: none !important;
}
/*.custom-ul ul {
	margin: 0;
    padding: 0;
}

.custom-ul ul li {
	list-style-type: none;
	display: inline;
}

.custom-ul li:not(:first-child):after {
	content: " | ";
}*/

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #404646 !important;
}

.navbar-default .navbar-toggle {
	background-color: #404646 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.form-control {
	border-radius: 50px !important;
	background-color: #f9f9f9;
	margin: 3px;
	width: 80% !important;
	padding: 6px 12px;
}

/* Search bar text color */
.form-control::-webkit-input-placeholder { color: #404646; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #404646; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #404646; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #404646; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #404646; }  /* Microsoft Edge */

.navbar-form {
	margin-right: -35px !important;
}

.search-magnify {
	position: relative;
}
.search-magnify input {
	padding-left: 30px;
}
.search-magnify i {
	position: absolute;
	padding: 12px 14px;
	pointer-events: none;
}
.divider-vertical {
	height: 30px;
	margin: 3px 9px;
	border-left: 1px solid #333;
	border-right: 1px solid #FFF;
	margin-right: 0px;
}
.sidebarmain {
	color: #10c1f3;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px;
}
.sidebarsub {
	padding: 2.5px;
	margin-left: 15px;
}
.sidebarhr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #cacbcc;
}
.page-header {
	color: #fefefe;
	font-size: 14px;
	padding: 0.5em;
	padding-left: 15px;
	font-weight: bold;
	text-transform: uppercase;
	background: #404646;
	border: 1px solid #404646;
	margin: 20px;
}
.placeholderlabel {
	font-size: 12px;
}
.fa-2x {
	margin-left: 1px;
	margin-right: 1px;
}
.footer-text {
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.footer-social {
	color: #fff;
	margin-top: 10px;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	z-index: 1000;
	background-color: #00bff3;
}
body>.container {
	padding: 60px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}
.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}